body {
  padding: 0px;
  margin: 0px;
  text-align-last: center;
}

.body {
  width: 80%;
  min-height: 500px;
  padding: 0px;
  margin: 50px auto;
  display: inline-flex;
}

.filterDiv {
  width: 20%;
  min-height: 500px;
  background-color: #f1f1f1;
  border-right: 1px dotted black;
  text-align-last: center;
}

.cartButton {
  width: 100%;
  height: 50px;
  border: none;
  color: #0099ff;
  font-size: 20px;
}

.sectionText {
  font-size: 30px;
  color: #0099ff;
}

.filterDiv .filterText {
  margin-inline: auto;
  border: 1px dotted black;
  width: 90%;
  min-height: 100px;
}

.filterDiv .filterSize {
  margin-inline: auto;
  border: 1px dotted black;
  width: 90%;
  min-height: 100px;
}

.filterDiv .filterPrice {
  margin-inline: auto;
  border: 1px dotted black;
  width: 90%;
  min-height: 100px;
}

.productDiv {
  width: 80%;
  min-height: 500px;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.productDiv .item {
  min-width: 250px;
  min-height: 466px;
}

.productimage {
  width: 250px;
  height: 300px;
}

.productTitle {
  max-height: 60px;
  text-align: center;
}

.productTitle * {
  line-height: 30px;
}

.productPrice {
  max-height: 30px;
  text-align: center;
}

.productDiscounted {
  max-height: 30px;
  text-align: center;
}

.productPrice *,
.productDiscounted * {
  line-height: 30px;
}

.addtocart * {
  height: 40px;
  width: 80%;
  background-color: #0099ff;
  border: none;
  font-size: 15px;
}

.cart {
  position: absolute;
  z-index: 2;
  width: 80%;
  min-height: 500px;
  background-color: rgba(200, 200, 200, 0.95);
  text-align-last: left;
}

.cartButton {
  width: 300px;
  text-align-last: center;
  background-color: transparent;
  border-bottom: 1px solid red;
}

.cartitem {
  border: 1px solid red;
  display: flex;
}

.cartitem .section1,
.cartitem .section2,
.cartitem .section3{
  width: 20%;
  height: 250px;
  border: 1px solid red;

}

.cartitem .section2 .title,
.cartitem .section2 .size{
  width: 100%;
  height: 125px;
  border: 1px solid red;

}

.cartitem .section3{
  margin-left: auto;
}

.cartitem .image {
  width: 200px;
  height: 250px;
}
